@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4 justify-content-lg-start">
            <a href="/">BoldSign - Blazor</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
